



.sidebar-heading--first-level {
    border-bottom: none;
}

/*#region Widgetkit Bulleted List */

.uk-switcher ul,
.uk-grid ul {
    margin: 0 0 0 30px;
    list-style-type: disc;
}

/*#endregion Widgetkit Bulleted List */


/*#region ODEI Events Focus Box */
.soph-events-focus-box {
    margin: 20px 10px;
    box-shadow: 0 1px 6px 1px #d3d3d3;
    background-color: #fafafa;
}

.soph-events-focus-box__heading {
    margin-top: 0;
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 3px solid #80bc00;
    padding: 10px 0;
    font-family: "proxima-nova", Arial, Helvetica, sans-serif !important;
}

.soph-events-focus-box .localist-widget-eds li {
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0 !important;
}

.soph-events-focus-box ul.localist-widget-eds {
    padding: 0 10px;
    box-sizing: border-box;
}

.soph-events-focus-box__button {
    display: inline-block;
    margin-bottom: 1em;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 5px 10px;
    box-sizing: border-box;
}

.soph-events-focus-box__button:hover {
    text-decoration: none;
    background-color: #1E6B52;
    color: #fff !important;
    border: 1px solid #1E6B52;
}

@media all and (min-width:700px) {
    .soph-events-focus-box {
        float: right;
        margin: 0 0 20px 20px;
    }
}

/*#endregion ODEI Events Focus Box */


/*#region Graduate Programs Widgekit Grid */

/*removes wk default and adds layout*/
.soph-grad-programs-grid {
    display: flex;
    flex-wrap: wrap;
    height: auto !important;
    margin-left: 0 !important;
}

/*removes wk default placement*/
.soph-grad-programs-grid>div {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    padding: 0 !important;
    margin: 10px;
}

@media all and (min-width:700px) {
    .soph-grad-programs-grid>div {
        flex-basis: calc(50% - 20px);

    }
}

@media all and (min-width:1024px) {
    .soph-grad-programs-grid>div {
        flex-basis: calc(33.3% - 20px);

    }
}

/*adjusts image container*/
.soph-grad-programs-grid .uk-panel-box>.uk-panel-teaser {
    margin: 0;
}

.soph-grad-programs-grid img {
    border-bottom: 3px solid #80bc00;
}

/*adjusts grid item */
.soph-grad-programs-grid .uk-panel {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 6px 1px #d3d3d3;
}


.soph-grad-programs-grid .uk-panel:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0 1px #444;
}

/*adjusts content box container */
.soph-grad-programs-grid .uk-margin {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

/*title for each grid item */
.soph-grad-programs-grid__degree-name {
    font-size: 1.1em;
    font-weight: 600;
    padding: 0 10px 10px;
    margin: 10px 0 0;
}

/* tag styling*/
.soph-grad-programs-grid__tags {
    background-color: #eee;
    padding: 5px 10px;
    font-weight: 600;
    font-size: .9em;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;

}

/*#endregion Graduate Programs Widgekit Grid */
