/*#region Possible Template Adjustments */

/*BEGIN fixes issue with breadcrumbs on full-width pages.  Remove this if it causes unwanted issues*/

body.hd #content {
    width: 100%;
}

#maincolumn-wide {
    padding: 0 20px;
    box-sizing: border-box;
}

/*END fixes issue with breadcrumbs on full-width pages*/

/*BEGIN fixes word break in horizontal nav in safari and ios */
#ribbon .nav.menu a {
    -webkit-hyphens: none;
    hyphens: none;
}

/*END fixes word break in horizontal nav in safari and ios */

/*BEGIN fixes issue with widgekit text buttons breaking in safari and ios */

.btn--wk-xlg-white .uk-panel a {
    -webkit-hyphens: none;
    hyphens: none;
}

/*END fixes issue with widgekit text buttons breaking in safari and ios */


/*#endregion Possible Template Adjustments */


/*#region SOPH Footer */

.soph-footer {
    display: flex;
    padding: 2em 0;
    box-sizing: border-box;
}

.soph-footer__item {
    margin: 0 !important;
    padding: 10px 30px;
    box-sizing: border-box;
}

/*SOPH Contact info container */

.soph-footer__contact-info {
    flex-basis: 35%
}

.soph-footer__contact-info-item {
    display: block;
    text-align: right;
    color: #fff;
}

.soph-footer__contact-info-link {
    color: #fff !important;
}

/*SOPH Logo container */

@media all and (min-width:800px) {
    .soph-footer__logo {
        border-width: 0 1px;
        border-color: #fff;
        border-style: solid;

    }
}

.soph-footer__logo {
    flex-basis: 30%;
}

.soph-footer__logo-img {
    max-width: 325px !important;
    margin-bottom: 10px;
}

/*SOPH CEPH container */

.soph-footer__ceph-logo {
    text-align: left !important;
    flex-basis: 35%;
}


.soph-footer__ceph-logo-img {
    max-width: 125px !important;

}


.soph-footer .addthis_toolbox {
    display: flex;
    justify-content: center;
}


@media all and (max-width:800px) {

    .soph-footer {
        flex-direction: column;

    }

    .soph-footer__logo {
        order: 1;

    }



    .soph-footer__contact-info {
        order: 2;
        text-align: center !important;
    }

    .soph-footer__contact-info-item {
        text-align: center;
    }

    .soph-footer__ceph-logo {
        order: 3;
        text-align: center !important;
    }
}

.addthis_inline_follow_toolbox {
    display: flex;
}

.addthis_inline_follow_toolbox div.atclear {
    display: none;
}

/*#endregion SOPH Footer */


/*#region Mobile Images */

@media all and (max-width:500px) {
    .mobile-image-vert {
        width: 100% !important;
        margin: 0 auto;
    }
}

/*#endregion Mobile Images */


/*#region Utility Classes */

@media all and (min-width:600px) {
    .u-soph-img--float-right {
        float: right;
        margin: 20px;
    }
}


.u-soph-img--250-max {
    max-width: 250px;
}




/*#endregion Utility Classes */

/*#region Tables */

.soph-table tr:first-child {
    background-color: #1e6b52;
    color: #fff;
    font-size: 1.2em;
    padding: 35px;
}

.soph-table tr>th {
    padding: 15px;
}

/*#endregion Tables */

/*#region Middle Menu titles */

.soph-middle-menu {
    padding-left: 15px !important;
    line-height: 1.2em;
}

/*#endregion Middle Menu titles */

/*#region Directory */

.item-page .profile-heading__wrapper {
    display: none;
}

.uk-margin .profile-heading__wrapper {
    margin-top: -15px;
}

/*#endregion Directory */

/*#region Homepage Sidebar Announcement * /

.sidebar-announcement {
    border: 3px solid #80bc00;
    padding: 1.5em;
    margin-bottom: 20px;
 }

 /*#endregion Homepage Sidebar Announcement */

/*#region Homepage Heading */

.soph-home .page-header {
    display: none;
}

/*#endregion Homepage Heading */

/*#region Homepage Announcement */

.announcementText a:hover {
    color: #808285 !important;
    border-bottom: 3px solid #808285 !important;
}

/*#endregion Homepage Announcement */

/*#region Footer Menu */

#footer .footer-menu a {
    font-size: 16px !important;
}

.footer-menu {
    background-color: #EEEEEE;
    padding: 10px !important;
    text-align: center;
}

.footer-menu ul.nav {
    margin: 0px auto;
    width: 100%;
    padding-bottom: 10px;
}

#footer .footer-menu ul.nav li {
    display: inline-block !important;
    padding: 0px 20px;
    border-left: 1px solid #fff;
}

#footer .footer-menu ul.nav li:first-child {
    border-left: 0px;
}

#footer .footer-menu a:link,
#footer .footer-menu a:visited {
    color: #444;
    font-weight: bold;
}

#footer .footer-menu a:hover,
#footer .footer-menu a:focus {
    color: #1E6B52 !important;
}

@media all and (max-width: 575px) {

    .footer-menu .nav.menu.mod-list {
        display: flex;
        flex-direction: column;
    }

    .footer-menu .nav.menu.mod-list div:nth-child(n+1) {
        border: transparent;
    }

}

/*#endregion Footer Menu */

/*#region Homepage Icons */

.hp-icons-wrapper {
    display: flex;
    justify-content: space-between;
}

.hp-icons-item {
    padding: 20px;
}

.hp-icons-item>a img {
    max-height: 200px;
    width: auto;
}

.hp-icons-item>a img:hover {
    transform: scale(1.05);
}

.hp-icons-item h2 {
    text-align: center;
    color: #1e6b52;
    font-family: proxima-nova, sans-serif !important;
}

.hp-icons-item a:hover {
    text-decoration: none;
}

@media all and (max-width: 625px) {
    .hp-icons-wrapper {
        flex-direction: column;
    }
}

/*#endregion Homepage Icons */

/*#region Home Facts Slideset */

.home-facts-slideset {
    margin-top: 40px;
}

.home-facts-slideset .uk-panel {
    padding: 30px 30px;
    box-sizing: border-box;
    min-height: 375px;
}

.home-facts-slideset .uk-margin {
    height: 100%;
    box-sizing: border-box;
}

.home-facts-slideset li:nth-child(odd) .uk-panel {
    background-color: #DEE7BC;
    color: #fff;
}

.home-facts-slideset li:nth-child(odd) .home-facts-slideset__copy-container {
    border-top: 2px solid #006241;
    border-bottom: 2px solid #006241;
}

.home-facts-slideset li:nth-child(even) .uk-panel {
    background-color: #006241;
    color: #fff;
}

.home-facts-slideset li:nth-child(even) .home-facts-slideset__copy {
    color: #fff;
}

.home-facts-slideset li:nth-child(even) .home-facts-slideset__copy-container {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.home-facts-slideset__copy-container {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-facts-slideset__copy {
    padding: 10px 10px;
    font-size: 1.5em !important;
}

.home-facts-slideset .uk-panel a {
    border-bottom: none !important;
}

.home-facts-slideset .uk-margin {
    margin-top: 0 !important;
}

.home-facts-slideset .uk-panel a:hover {
    background-color: transparent !important;
}

/*#endregion Home Facts Slideset */

/*#region Back to Top */

a.back-to-top {
    border: 2px solid #ccc;
    bottom: 5%;
    color: #787878;
    font-family: "din-condensed", "din-condensed-web", sans-serif !important;
    font-size: 16px;
    font-weight: normal !important;
    left: auto;
    opacity: 0.7;
    padding: 0.5em 0.7em 0.4em;
    right: 0;
    text-transform: uppercase;
}

a.back-to-top:hover {
    background-color: rgba(235, 235, 235, 0.8);
}

@media screen and (max-width: 1024px) {
    a.back-to-top {
        background-color: rgba(235, 235, 235, 0.8);
        bottom: 0;
        display: none;
        font-size: 12px;
        position: fixed;
        right: 0;
        text-decoration: none;
    }
}

/*#endregion Back to Top */

/*#region Smaller Font on Grid Widgets */
@media all and (min-width: 768px) {
    .template-01 .smaller-font-grid .uk-margin-small h2 {
        font-size: 1.1rem;
    }
}

/*#endregion Smaller Font on Grid Widgets */

/*#region Faculty Research Spotlight */

.soph-faulty-research-spotlight__page .item {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #1E6B52;

}

.soph-faulty-research-spotlight__page .item-image {
    flex-basis: calc(50% - 10px);
    order: 1;
    margin: 0;

}

.soph-faulty-research-spotlight__page .item-image img {
    margin: 0 !important;
    border-radius: 0 !important;

}


.blog.soph-faulty-research-spotlight__page .soph-faulty-research-spotlight__details {
    flex-basis: calc(50% - 10px);
    order: 1;
    padding: 10px;
    box-sizing: border-box;
}

.blog.soph-faulty-research-spotlight__page .soph-faulty-research-spotlight__date {
    font-size: 1em;
    margin-top: 0;
    color: #808285;

}

.item-page.soph-faulty-research-spotlight__page .soph-faulty-research-spotlight__date {
    font-size: 1.4em;
    margin-top: 0;
    color: #808285;
}

.soph-faulty-research-spotlight__name {
    font-weight: 600;
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;

}

.item-page.soph-faulty-research-spotlight__page .soph-faulty-research-spotlight__name {

    font-size: 2em;
    margin-bottom: 0;
    color: #444;

}

.item-page.soph-faulty-research-spotlight__page .item-image {
    max-width: 300px;
}

.soph-faulty-research-spotlight__title {
    display: block;
}

.soph-faulty-research-spotlight__link {
    display: block;
}

.blog.soph-faulty-research-spotlight__page .readmore {
    flex-basis: 100%;
    order: 3;
    margin: 0;
    padding-bottom: 0;

}

.blog.soph-faulty-research-spotlight__page .readmore .btn {
    width: 100%;
    box-sizing: border-box;
    text-align: center !important;
    justify-content: center;
    background-color: #1E6B52 !important;
    background-image: none;
    border-radius: 0;
    border: 0;
    padding: 10px;
    text-shadow: none;
    color: #fff;

}

.soph-faulty-research-spotlight__page .readmore .btn:hover {
    color: #fff !important;
    background-color: #295135 !important;
}


/*#endregion Faculty Research Spotlight */


/*#region Two-Column styling */

.border.two-column-item {
    border: 1px solid black;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.two-column-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.two-column-item {
    flex-basis: 50%;
}

@media screen and (max-width: 768px) {
    .two-column-wrapper {
        flex-direction: column;
    }
}

/*#endregion Two-Column styling */

/*#region Strategic Plan */

.strategic-plan--heading {
    border-bottom: 1px solid #80bc00;
    margin-top: 50px;
}

@media screen and (max-width: 650px) {
    .strategic-plan--heading {
        border: 1px solid #80bc00;
        padding: 10px;
    }
}

/*#endregion Strategic Plan */

/*#region Research Grid */

.research-grid--3-items,
.plan-grid--4-items {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.research-grid--3-items>div {
    flex-basis: 33.3%;
    padding: 0 50px;
    box-sizing: border-box;
}

.plan-grid--4-items>div {
    flex-basis: 25%;
    padding: 0 20px;
    box-sizing: border-box;
}

.research-grid--3-items>div:nth-child(n+2),
.plan-grid--4-items>div:nth-child(n+2) {
    border-left: 1px solid #80bc00;
}

.research-grid--3-items div span,
.plan-grid--4-items div span {
    font-size: 1.3em;
    display: block;
    color:
        #1e6b52;
}

.research-grid--3-items div h2,
.plan-grid--4-items div h3 {
    font-size: 1.3em;
    margin-top: 0;
    text-align: center;
    -webkit-hyphens: none;
    hyphens: none;
}

.research-grid--3-items div p,
.plan-grid--4-items div p {
    text-align: center;
}





@media screen and (max-width: 650px) {

    .research-grid--3-items,
    .plan-grid--4-items {
        flex-direction: column;
    }

    .research-grid--3-items>div:nth-child(n+2),
    .plan-grid--4-items>div:nth-child(n+2) {
        border-left: none;
        border-top: 1px solid #80bc00
    }

    .research-grid--3-items>div .plan-grid--4-items>div {
        padding: 50px;
    }
}

/*#endregion Research Grid */

/*#region Program tags for articles */

.program-tag {
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid #80bc00;
    line-height: 300% !important;
}

/*#endregion Program tags for articles */

/*#region Switcher background */

.uk-switcher .uk-panel {
    background-color: #eee;
    margin-top: -15px;
}

.switcher-tabs-left .uk-panel {
    margin-top: 0;
    background-color: transparent;
}

.switcher-tabs-left .uk-switcher {
    background-color: #eee;
    margin-left: 5px;
}

.uk-subnav-line> :nth-child(n+2)::before {
    border-left: 1px solid #808285;
}

/*#endregion Switcher background */

/*#region Grid People Directory */

.grid-people-directory .uk-panel {
    border: 1px solid #1e6b52;
    padding: 0;
    background-color: #fff;
}

.grid-people-directory .profile-heading__wrapper {
    display: block;
}

.grid-people-directory .uk-article-meta {
    display: none;
}

.grid-people-directory .uk-margin {
    margin-top: 0;
}

.grid-people-directory .uk-margin>p:first-child {
    margin: 0;
}

.grid-people-directory .profile-contact-info {
    display: block;
    padding: 15px 20px;
}

.grid-people-directory .profile-title {
    padding: 10px 20px 0;
}

.grid-people-directory .profile-button-container {
    margin-top: 3em;
    display: block;
}

.grid-people-directory a.profile-button {
    text-shadow: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    padding: 0.5em 1em;
    font-weight: 600 !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
    border-width: 1px 0 0 0 !important;
    border-color: #eee;
    border-style: solid;
    text-transform: uppercase;
    font-size: 0.9rem !important;
    text-align: center;
    text-decoration: none;
    color: #222;
}

.grid-people-directory .profile-button:hover {
    color: #fff !important;
    background-color: #1e6b52;
}

.mobile-directory .profile-heading__wrapper {
    margin-top: -15px;
}

.profile-research-interests {
    display: block;
    margin-top: 20px;
}

.uk-grid-margin .profile-research-interests {
    padding: 0 20px;
}

/*#endregion Grid People Directory */

/*#region Removes bottom border from parent menu items */

.sidebar-heading--first-level {
    border-bottom: none;
}

.sidebar-heading--first-level {
    padding: 0.4em 0 !important;
}

/*#endregion Removes bottom border from parent menu items */

/*#region Widgetkit Read More Buttons */

.read-more-btns {
    position: absolute;
    width: 100%;
    background-color: #1e6b52;
    color: #fff !important;
    left: 0;
    bottom: 0;
    display: block;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #1e6b52 !important;
}

.read-more-btns:hover {
    background-color: #fff !important;
    border: 1px solid #1e6b52 !important;
    color: #1e6b52 !important;
}

.grid-btns-in-text .uk-margin {
    margin-bottom: 40px !important;
}

/*#endregion Widgetkit Read More Buttons */

/*#region Widgetkit Bulleted List */

.uk-switcher ul,
.uk-grid ul,
.uk-accordion ul {
    margin: 0 0 0 30px;
    list-style-type: disc;
}

/*#endregion Widgetkit Bulleted List */


/*#region ODEI Events Focus Box */
.soph-events-focus-box {
    margin: 20px 10px;
    box-shadow: 0 1px 6px 1px #d3d3d3;
    background-color: #fafafa;
}

.soph-events-focus-box__heading {
    margin-top: 0;
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 3px solid #80bc00;
    padding: 10px 0;
    font-family: "proxima-nova", Arial, Helvetica, sans-serif !important;
}

.soph-events-focus-box .localist-widget-eds li {
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0 !important;
}

.soph-events-focus-box ul.localist-widget-eds {
    padding: 0 10px;
    box-sizing: border-box;
}

.soph-events-focus-box__button {
    display: inline-block;
    margin: 0 1em 1em;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 5px 10px;
    box-sizing: border-box;
}

.soph-events-focus-box__button:hover {
    text-decoration: none;
    background-color: #1E6B52;
    color: #fff !important;
    border: 1px solid #1E6B52;
}



@media all and (min-width:700px) {
    .soph-events-focus-box {
        float: right;
        margin: 0 0 20px 20px;
    }

    .soph-events-focus-box--400w {
        max-width: 400px;
    }
}

/*#endregion ODEI Events Focus Box */


/*#region Graduate Programs Widgekit Grid */

/*removes wk default and adds layout*/
.soph-grad-programs-grid {
    display: flex;
    flex-wrap: wrap;
    height: auto !important;
    margin-left: 0 !important;
}

/*removes wk default placement*/
.soph-grad-programs-grid>div {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    padding: 0 !important;
    margin: 10px;
}

@media all and (min-width:700px) {
    .soph-grad-programs-grid>div {
        flex-basis: calc(50% - 20px);

    }
}

@media all and (min-width:1024px) {
    .soph-grad-programs-grid>div {
        flex-basis: calc(33.3% - 20px);

    }
}

/*adjusts image container*/
.soph-grad-programs-grid .uk-panel-box>.uk-panel-teaser {
    margin: 0;
}

.soph-grad-programs-grid img {
    border-bottom: 3px solid #80bc00;
}

/*adjusts grid item */
.soph-grad-programs-grid .uk-panel {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 6px 1px #d3d3d3;
    min-height: 100px;
}


.soph-grad-programs-grid .uk-panel:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0 1px #808285;
}

/*adjusts content box container */
.soph-grad-programs-grid .uk-margin {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: 3px solid #80bc00;
}

/*title for each grid item */
.soph-grad-programs-grid__degree-name {
    font-size: 1.1em;
    font-weight: 600;
    padding: 0 10px 10px;
    margin: 10px 0 0;
}

/* tag styling*/
.soph-grad-programs-grid__tags {
    background-color: #eee;
    padding: 5px 10px;
    font-weight: 600;
    font-size: .9em;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;

}

/*#endregion Graduate Programs Widgekit Grid */





/*#region SOPH News */

.soph-news.item-page .page-header h1 {
    background-color: #1E6B52;
    color: #1E6B52;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #fff;
}

.soph-news.item-page .page-header {
    border-bottom: 0;
    padding-bottom: 0;
}

.soph-news.item-page .page-header h2 {
    margin-top: 20px;
}

.soph-news.item-page [itemprop="articleBody"],
.soph-news.item-page [itemprop="headline"],
.soph-news.item-page .article-info.muted {
    padding: 0 20px;
}

/*hides news items on the SOPH news category blog page */
.blog.soph-news .items-row {
    display: none;
}


/*-BEGIN More News */
/*hides More News heading on category blog page */
.blog.soph-news .soph-news__more-news-header {
    display: none;
}


.blog.soph-news .items-row {
    display: none;
}

.soph-news .lowers {
    padding: 0 40px;
    background-color: #fafafa;
    box-sizing: border-box;
    margin-top: 2em !important;
}

/*-END More News */

/*#endregion SOPH News */

/*#region Two Across Grid  */

.o-soph-two-across__container {
    display: flex;
}

.o-soph-two-across__item {
    flex-basis: calc(100% / 2 - 20px);
    margin: 20px;
}

.o-soph-two-across__heading {
    margin-top: 0;
}

@supports (display:grid) {
    .o-soph-two-across__container {
        grid-gap: 40px;
    }

    @media all and (min-width:700px) {
        .o-soph-two-across__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .o-soph-two-across__item {
            margin: 0;
        }
    }
}


.u-green-button {
    background-color: #1E6B52;
    padding: 5px 10px;
    margin: 0 10px;
    display: inline-block;
    color: #fff !important;
    border-radius: 3px;

}

.u-grid__item--style-1 {
    padding: 20px;
    box-shadow: 0 0 5px #444;
    border-radius: 5px;
}

.u-grid__item--style-2 {
    background-color: #fafafa;
    padding: 20px;

}

.u-white-color {
    color: #fff;
}


.u-no-top-margin {
    margin-top: 0;
}

.u-no-bottom-margin {
    margin-bottom: 0;
}

.u-no-left-margin {
    margin-left: 0;
}

.u-no-right-margin {
    margin-right: 0;
}

.u-no-left-right-margin {
    margin-top: 0;
}


/*#endregion Two Across Grid  */


/*#region Three Across Grid  */

.o-soph-three-across__container {
    display: flex;
}

.o-soph-three-across__item {
    flex-basis: calc(100% / 3 - 20px);
    margin: 20px;
}

.o-soph-three-across__heading {
    margin-top: 0;
}

@supports (display:grid) {
    .o-soph-three-across__container {
        grid-gap: 40px;
    }

    @media all and (min-width:700px) {
        .o-soph-three-across__container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .o-soph-three-across__item {
            margin: 0;
        }
    }
}

/*#endregion Three Across Grid  */