/*#region Orientation Leaders Directory ***/

.orientation-leaders-directory .uk-panel {
    box-shadow: 0 1px 6px 1px #d3d3d3;
}

.orientation-leaders-directory .profile-heading__wrapper {
    margin-top: -25px;
}

.orientation-leaders-directory .profile-intro-text {
    padding: 20px;
}

.profile-heading__wrapper {
    border-top: 3px solid #80bc00;
    padding: 10px 20px 5px;
    order: 2;
    position: relative;
    background-color: #eee;
    margin-bottom: 10px;
}

.profile-heading__wrapper .profile-heading__name {
    font-size: 1.5em;
    font-family: kulturista;
    font-weight: 600 !important;
    margin: 0
}

.profile-heading__name,
.profile-heading__credential {
    color: #1e6b52;
}

.profile-heading__credential {
    color: #444;
}

.profile-title {
    display: block
}

/*#endregion Orientation Leaders Directory ***/

/*#region Trailblazers Mosaic */

.c-image-mosaic {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.c-image-mosiac__copy {
    grid-column: 5 / 13;
    grid-row: 2 /4;
}

@media all and (min-width:1280px) {
    .c-image-mosaic {
        grid-template-columns: repeat(14, 1fr);
    }

    .c-image-mosiac__copy {
        grid-column: 9 / 13;
        grid-row: 2 / 4;
    }
}

.c-image-mosaic img {
    max-width: 300px;
    width: 100%;
}

.c-image-mosiac__copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.c-image-mosiac__p {
    padding: 0 2rem 2rem;
    font-size: 1.1em;
}

.c-image-mosiac__link {

    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}


/*#endregion Trailblazers Mosaic */

/*#region Trailblazers Directory ***/

.item-page .profile-heading-trailblazers__wrapper {
    display: none;
}

.profile-heading-trailblazers__wrapper {
    border-top: 3px solid #80bc00;
    padding: 10px 20px 5px;
    position: relative;
    background-color: #eee;
    margin-bottom: 10px;
}

.profile-heading-trailblazers__wrapper .profile-heading__name {
    font-size: 1.3em;
    font-family: kulturista;
    font-weight: 600 !important;
    margin: 0
}

.blog.trailblazers-blog .uab-card-title {
    display: none;
}

.trailblazers-blog .profile-intro-text {
    padding: 10px 20px;
}

.blog.trailblazers-blog .profile-hometown {
    display: none;
}

.blog.trailblazers-blog .profile-class {
    display: none;
}

.profile-heading__status {
    margin: 0;
}

.profile-heading__status span:first-child:after {
    height: 10px;
    width: 1px;
    background-color: #1E6B52;
    content: '';
    display: inline-block;
    margin-left: 5px;
}

/*Changes card to a flex item so that the footer can be pushed to the bottom of the card using margin-top auto */
.blog.trailblazers-blog .uab-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
}

/*removes ui kit default padding and border and pushes item to bottom of card*/
.blog.trailblazers-blog .uab-card-footer {
    margin-top: auto;
    /*look at removing default padding in footer from uikit */
    padding: 0;
    /*look at removing default border in footer from uikit */
    border-top: 0 !important;
}

/*adds curved edge to button, changes size of button, and extends the button the full-width of the card */
.blog.trailblazers-blog .uab-button-primary {
    font-size: .9rem;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}


/*adds curved edge to image */

.blog.trailblazers-blog img {
    border-radius: 10px 10px 0 0;
}



/* trailblazer blog and article - these styles were added by Dusty */


.blog.trailblazers-blog .tb-connect,
.blog.trailblazers-blog div.fields-container {
	display: none;
}

.item-page.trailblazers-blog h1[itemprop="headline"] {
	letter-spacing: normal;
	text-transform: capitalize;
}

.item-page.trailblazers-blog h1[itemprop="headline"]::after {
	border-bottom: 1px solid #e5e5e5;
	content: "";
	display: block;
	margin: 0.7em 0 0.5em;
	width: 100%;
}

.item-page.trailblazers-blog .profile-intro-text {
	font-weight: 600;
}

/*trailblazer blog and article  */


/*#endregion Trailblazers Directory ***/



/* #region Trailblazers Extra Fields Photogrid and Interests */

.dir-interest {
	background: #eee;
	border-bottom: 2px solid #80bc00;
	color: #1e6b52;
	font-weight: 600;
	margin-top: 0;
	padding: 20px 20px 15px;
	position: relative;
	text-align: center;
	top: 0;
}

.dir-interest-entry {
	border-top: 2px solid #ccc;
	margin: 15px auto;
	padding: 15px 0 0;
}

.field-entry,
.field-entry hr {
	margin: 0 0 5% 0;
}

.field-entry.dir-photogrid {
	box-sizing: border-box;
	float: right;
	margin: 10px auto;
	width: 560px;
	transition: all linear 0.3s;
}

.field-figure.dir-photogrid {
	display: -ms-grid;
	display:     grid;
	height: 220px;
	margin: 0;
	transition: all linear 0.3s;

	-ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
	grid-gap: 10px;
	-ms-grid-rows: 1fr 10px 1fr;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	margin-block: 0;
	margin-inline: 0;
}

.dir-photo {
	display: block;
	height: 100%;
	width: 100%;
	transition: all linear 0.3s;

	-o-object-fit: cover;
	   object-fit: cover;
}

img.dir-photo:nth-of-type(1) {
	-ms-grid-column: 1;
	    grid-column: 1 / 3;
	-ms-grid-column-span: 2;
	-ms-grid-row: 1;
	    grid-row: 1 / 3;
	-ms-grid-row-span: 2;
}

.dir-photo:nth-of-type(2n),
.dir-photo:nth-of-type(2n+1) {
	grid-column: auto;
	grid-row: auto;
}

.dir-photo:nth-of-type(8),
.dir-photo:nth-of-type(9),
.dir-photo:nth-of-type(10) {
	display: none;
}


.field-figure.dir-photogrid > :nth-child(1) {
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	-ms-grid-row: 1;
	-ms-grid-row-span: 3;
}

.field-figure.dir-photogrid > :nth-child(2) {
	-ms-grid-column: 5;
	-ms-grid-column-span: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
}

.field-figure.dir-photogrid > :nth-child(3) {
	-ms-grid-column: 7;
	-ms-grid-column-span: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
}

.field-figure.dir-photogrid > :nth-child(4) {
	-ms-grid-column: 9;
	-ms-grid-column-span: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
}

.field-figure.dir-photogrid > :nth-child(5) {
	-ms-grid-column: 5;
	-ms-grid-column-span: 1;
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
}

.field-figure.dir-photogrid > :nth-child(6) {
	-ms-grid-column: 7;
	-ms-grid-column-span: 1;
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
}

.field-figure.dir-photogrid > :nth-child(7) {
	-ms-grid-column: 9;
	-ms-grid-column-span: 1;
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
}

@media (max-width: 960px) {
	.field-entry.dir-photogrid {
		float: none;
		height: auto;
		width: 100%;
	}

	.field-figure.dir-photogrid {
		height: auto;
		margin: 0 auto;
		max-width: 560px;

		-ms-grid-columns: 1fr 10px 1fr;
		-ms-grid-rows: 1fr 10px 0.5fr 6px 0.5fr 6px 0.5fr;
		grid-template-columns: repeat(3, 1fr);
	}

	.dir-photo {
		height: auto;
		max-height: 275px;
		width: auto;
	}

	.dir-photogrid .dir-photo:nth-of-type(1) {
		grid-column: 1 / 4;
	}

	.field-figure.dir-photogrid > :nth-child(1) {
		max-height: none;

		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
	}

	.field-figure.dir-photogrid > :nth-child(2) {
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		-ms-grid-row: 3;
		-ms-grid-row-span: 1;
	}

	.field-figure.dir-photogrid > :nth-child(2) {
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		-ms-grid-row: 3;
		-ms-grid-row-span: 1;
	}

	.field-figure.dir-photogrid > :nth-child(3) {
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
		-ms-grid-row: 3;
		-ms-grid-row-span: 1;
	}

	.field-figure.dir-photogrid > :nth-child(4) {
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		-ms-grid-row: 5;
		-ms-grid-row-span: 1;
	}

	.field-figure.dir-photogrid > :nth-child(5) {
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
		-ms-grid-row: 5;
		-ms-grid-row-span: 1;
	}

	.field-figure.dir-photogrid > :nth-child(6) {
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		-ms-grid-row: 7;
		-ms-grid-row-span: 1;
	}

	.field-figure.dir-photogrid > :nth-child(7) {
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
		-ms-grid-row: 7;
		-ms-grid-row-span: 1;
	}
}

/* #endregion Trailblazers Extra Fields Photogrid and Interests */



/*#region Bham Highlights */

.c-bham-highlight {
    padding: 1rem;
}

.c-bham-highlight__heading {
    font-size: 1.6rem;
    position: relative;
}


.c-bham-highlight__heading:after {
    width: 40px;
    height: 2px;
    background-color: #80bc00;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translatex(-50%);
}

.c-bham-highlight__ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.c-bham-highlight__item {
    flex-basis: calc(33% - 20px);
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.c-bham-highlight__award {
    display: inline-block;
}

.c-bham-highlight__source {
    display: block;
    font-size: .9rem;
    margin-top: auto;
}

.c-bham-highlight__award-emphasis {
    display: block;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 600;
    font-family: kulturista-web, serif;
    color: #1E6B52;
}


/*#endregion Bham Highlights */


/*#region Admission Counselors */


	.admissions-counselors-filter__state-filter {
		background-color: #eee;
		padding: 10px;

		box-sizing: border-box;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 2rem;
	}

	.admissions-counselors-filter__state-filter li a {
		margin: 5px 20px;
		display: inline-block;
		text-decoration: none;
	}

	.admissions-counselors-filter__state-filter .uab-active a {
		text-decoration: underline;
	}

	.admissions-counselors-filter__state-filter {}

	.admissions-counselors-filter__container {
		margin-bottom: 2rem;
	}

	.admissions-counselors-filter__container:after {
		width: 100px;
		background-color: #80bc00;
		height: 2px;
		display: block;
		content: '';
		margin: 0 auto;

	}

	.admissions-counselors-filter {
		list-style-type: none;
		padding: 0;
		
		/* text-align: center;
		flex-wrap: wrap;
		display: flex;
		justify-content: center; */
	}

	/* .admissions-counselors-filter li {
		margin: 10px;
		flex-basis: calc(33% - 20px);
	} */



	.admissions-counselors-filter a {
		color: #1E6B52;
		background-color: #fff;
		outline: 1px solid #eee;
		text-decoration: none;
		display: block;
		position: relative;
		line-height: 1.2;
		padding: 20px;
		font-weight:500;
	}

	.admissions-counselors-filter li:nth-child(1) a,
	.admissions-counselors-filter li:nth-child(2) a {
		color: #1E6B52;
		background-color: #fff;
		text-decoration: none;
		display: block;
	}

	.admissions-counselors-filter li.uab-active a {
		background-color: #1E6B52;
		color: #fff;
	
	}

	.admissions-counselors-filter li.uab-active a:after {
		content: '\f0d7';
		font-family: "Font Awesome 5 Free";
		font-weight: 600;
		position: absolute;
		bottom: 3px;
		left: 50%;
		transform: translatex(-50%);
	}

/*#endregion Admission Counselors */

/*#region Homepage Banner Button */
.admissions-banner-button:hover {
	background-color:#1E6B52;
}

/*#endregion Homepage Banner Button */

/*#region Subheading  */

.admissions-subheading--style-1 {
	color: #1E6B52;
    font-size: 1.5rem;
    line-height: 1.3;
    display: block;
    margin-top: 1.2em;
    margin-bottom: .2em;
    max-width: 600px;
}

/*#endregion Subheading*/



/*#region Icon Styles */


	.o-admissions-rounded-icon,
	.o-admissions-rounded-icon--has-hover {
		font-size: 2.5rem;
		background-color: #eee;
		padding: 40px;
		border-radius: 50%;
		color: #1E6B52;
		transition: background-color .2s ease-in;
	}

	.o-admissions-rounded-icon--has-hover:hover {
		color: #eee;
		background-color: #1E6B52;
	}

	.o-admissions-accent-icon {
		top: -1em;
	
		border-radius: 50%;
		width: 50px;
		height: 50px;
		font-size: 1.3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 4px solid #fff;
	}

	/*#endregion Icon Styles */


/*#region Estimated Costs Table */

	.est-costs-accent {
		position: relative;
	}

	.est-costs-accent:before {
		content: '';
		height: 103%;
		width: 2px;
		display: block;
		position: absolute;
		left: -10px;
		background-color: #eee;
		bottom: 0;

	}

	.est-costs-accent--first:before {
		height: 50%;
	}

	.est-costs-accent--last:before {
		height: 53%;
		top: -1px;
	}


	.est-costs-accent:after {
		content: '';
		height: 2px;
		width: 15px;
		display: block;
		position: absolute;
		left: -10px;
		background-color: #eee;
		bottom: 50%;
	}

	/*#endregion Estimated Costs Table */