
/*#region Tachyons */

	/* @import url('https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css'); */

	
/*#endregion Tachyons */

/*#region Homepage ***/

.events-heading-left,
.events-heading-right {
    position: relative;
    top: 0%;
    background: #fff;
    padding: 10px 20px;
    border-bottom: 2px solid #80bc00;
    margin-top: 0;
}

.events-heading-left {
    left: -20%;
}

.events-heading-right {
    right: -20%;
   text-align: right;
}

.events-title-left,
.events-title-right {
    color: #1e6b52;
font-weight: bold;
font-size: 1.25em;
}

.events-title-right {
    text-align: right;
}

/*#endregion Homepage ***/

/*#region Widgekit Accordion */

.uk-accordion-title:after {
    content: "\e007";
    position: absolute;
    right: 10px;
    font-family: 'IcoMoon';
    color: #1E6B52;
    top: 50%;
    transform: translateY(-50%);
}

.uk-accordion-title {
    position: relative;
}

.uk-accordion {
    margin-bottom: 10px;
}


.uk-accordion-title.uk-active:after {
    content: "\e005";
    color: #fff;
}

.uk-accordion-title {
    margin-bottom: 0;
    padding: 10px 40px 10px 5px;
    box-sizing: border-box;
    font-weight: 500 !important;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}


.uk-accordion-title.uk-active {

    background-color: #1E6B52;
    color: #fff;

}

.uk-accordion-content.uk-active {
    border-bottom: 1px solid #eee;
}

.uk-accordion-content {
    padding: 10px 20px 20px;
}


.uk-accordion-title span {
    font-size: 1.1em;
    font-weight: 600 !important;
    display: block;
}

.uk-accordion-title.uk-active span {
    color: #fff;
}


/*#endregion Widgekit Accordion */

/*#region Switcher Panels ***/

.uk-subnav .uk-active a {
    background-color: #1E6B52;
    transition: none;
}

.uk-subnav .uk-active a:hover {
    color: #fff !important;
}

.switcher-heading {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.4em;
}

/*#endregion Switcher Panels ***/

/*#region Apple Green Divider Flex Container ***/

.admissions-apple-container {
    display: flex;
    flex-direction: column;
}

.admissions-apple-item:nth-child(n+2) {
    border-top: 2px solid #80bc00;
}

.admissions-apple-item {
    padding: 30px 0;
}

@media all and (min-width: 798px) {
    .admissions-apple-container {
        display: flex;
        flex-direction: row;
    }

    .admissions-apple-item {
        padding: 0 30px;
    }

    .admissions-apple-item:nth-child(n+2) {
        border-left: 2px solid #80bc00;
        border-top: none;
    }
} 


/*#endregion Apple Green Divider Flex Container ***/

/*#region Apply Landing Page ***/

.apply-other-ways {
    display: flex; 
    justify-content: space-between;
    padding: 0 20px;
}

@media all and (max-width: 1000px) {
    .accepted-container {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 20px;
    }
}

/*#endregion Apply Landing Page ***/

/*#region Enrollment Checklists ***/

.checklist-container {
    display: flex;
}

.checklist-number {
    font-size: 2rem;
    font-family: kulturista;
    font-weight: 800;
    color: #1e6b52;
    border: 2px solid #80bc00;
    padding: 5px 15px;
    margin-right: 45px;
}

.icon-checkmark {
    margin-right: .3em!important;
}

/*#endregion Enrollment Checklists ***/

/*#region Full Width Page ***/

body.hd.s-full-width-page #whitebox,
body.hd.s-full-width-page #maincolumn-wide,
body.hd.s-full-width-page #content {
    max-width: 100%;
    width: 100%;
}

body.hd #whitebox,
body.hd #maincolumn-wide,
body.hd #content {
    max-width: 100%;
    width: 100%;
}

/*#endRegion Full Width Page ***/

/*#region Page Max Width ***/

.admissions-page-max-width {
    max-width: 1280px;
    margin: 0 auto !important;
}

/*#endregion Page Max Width ***/

/*#region Horizontal Navigation */

.uab-navbar-nav>li>a,
.uab-nav>li>a {
    font-size: 1.05rem;
}

.uab-navbar-dropdown {
    box-shadow: 0 1px 3px 0px #d3d3d3 !important;
}

.menu-two-across {
    flex-basis: calc(100% / 2 - 40px);
    margin: 10px 20px;
}

.uab-navbar-nav>li>a {
    padding: 0;
}

.accent-menu {
    flex-basis: calc(25% - 10px);
    margin-right: 0;
    margin-left: 0;
    flex-grow: 1;
    background-color: #1E6B52;
    margin: 0;
    padding: 10px;
}


.accent-menu *,
.accent-menu a:link {
    color: #fff !important;
}

.accent-menu span,
.accent-menu a:link,
.accent-menu a:visited {
    color: #fff !important;
}

.uab-navbar-nav>li>a {
    min-height: 50px;
}

.uab-navbar-nav li {
    margin-bottom: 0;
}

.uab-navbar-dropdown {
    background-color: #fafafa;
    box-shadow: none;
}

[class*=uab-navbar-dropdown-bottom] {
    margin-top: 0;
}

.uab-navbar-nav>li>a,
.uab-nav-header {
    text-transform: initial;
}

.uab-navbar-nav a:focus {
    border: 1px solid blue;
}

.uab-navbar-nav>li>a {
    font-weight: 500;
}

.uab-nav-header,
.nav-header {
    font-weight: 600 !important;
    font-size: 1.05rem !important;
    /* border-bottom: 1px solid #80bc00 !important; */
    text-transform: initial;
    padding: 5px 0;
}

.uab-nav>li>a {
    font-weight: 500;
    padding: 0;
}

.uab-navbar-dropdown-grid>:not(.uab-first-column)::before {
    display: none;
}



.uab-navbar-dropdown {
    padding: 0;
}



.uab-navbar-dropdown-grid>* {
    padding-left: 20px;
}

.uab-navbar-dropdown-grid {
    margin-left: 0;
}

.uab-navbar-dropdown-grid>div:nth-child(3) {
    background-color: #1E6B52;
}

.uab-navbar-dropdown-grid>div:nth-child(3) a,
.uab-navbar-dropdown-grid>div:nth-child(3) .uab-nav-header {
    color: #fff !important;

}

.uab-child-width-1-3>* {
    width: calc(100% * 1 / 3);
}



.covidAlert {
    display: none;
}

.uab-navbar-nav {
    justify-content: space-between;
    width: 100%;
    background-color:#eee;
}

.uab-navbar-center:only-child {
    width: 100%;
}

.uab-navbar-nav li {
    width: 100%;
}

.uab-navbar-nav>li:hover,
.uab-navbar-nav>li:active {
    background-color: #fafafa;
}


.menu-three-across {
    flex-basis: calc(100% / 3 - 40px);
    padding: 10px 20px;
}

.menu-four-across {
    flex-basis: calc(25% - 20px);
    margin: 0 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.menu-four-across:last-child {
    flex-basis: calc(25% - 10px);
    margin-right: 0;
    margin-left: 0;
    flex-grow: 1;
    background-color: #1E6B52;
}

 .menu-four-across:last-child * {
    color: #fff !important;
}

.uab-nav li {
    margin-top: 10px;
}

.parent ul a {
    font-weight: 500;
    font-size: 1.15em !important;
}

.check-application-status {
    padding: 5px 10px;
    background-color: #1E6B52;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
}

/*#endregion Horizontal Navigation */


/*#region Temporary CSS */


/*changes the main uab logo to an svg */
#main_header {
    background-image: url(https://dev.uab.edu/students/admissions/images/test/white-with-R-core-horizontal.svg);
}

/*adjustments to the site box and site name */
#sitename_box {
    background-color: #1E6B52;
    padding: 1em;
    display: flex;
    align-items: center;
}

body.corona .siteNameTop {
    color: #fff;
}

/*removes padding on subnav */

ul.uab-nav-sub {
    padding: 0;
}

/* breadcrumb overrides */
.uab-breadcrumb> :nth-child(n+2):not(.uab-first-column)::before {
    font-family: 'IcoMoon';
    content: "\e010";
    color: #80bc00;
    margin: 0 5px;
    font-size: 15px;

}

.uab-breadcrumb {
    margin: 20px 0;
}

.uab-breadcrumb li {
    display: flex;

    align-items: center;
}

/* end breadcrumb overrides */
/*Color adjustment to action box */

#action_box {
    background-color: #1E6B52;
    padding: 10px;
}

/* Search Override  */

.uab-offcanvas-bar .search.mod_search98 .button {
    max-width:15px;
    background-color:#1E6B52;
    padding:5px;
}

.uab-offcanvas-bar .form-inline {
    display:flex;
    margin:10px 0
}