/*#region Overrides */

/*hides mobile search icon - it was causing a spacing issue on desktop.  This needs to be removed if site search is being used.*/
#trigger {
    display: none !important;
}

/*adds extra padding to site name area*/
#whitebar {
    padding: 10px 0;
}

/*#endregion Overrides */


/*--------#region Page Header--------*/
body.linear.hd.base .topLinearContainer {
    background: #144b39;
}

#hidden-links {
    z-index: 0;
}

#hidden-links a.un_jtt_hide {
    display: flex;
    top: 0;
}

/*hides site name, search bar, and quicklinks on homepage*/
/*.fight-covid-homepage #whitebar {
    display: none;
}*/

/*hides page header on homepage*/
/*.fight-covid-homepage .page-header {
    display: none;
}*/

#wrapper {
    display: flex;
    flex-direction: column;
}

#banner {
    margin: 0;
    order: 1;
}

.navbar {
    order: 2;
}

#whitebox {
    order: 3;
}

.covidAlert {
    order: 4;
}

.page-header {
    max-width: 1280px;
    margin: 30px auto 0;
}

/* @media all and (max-width:1280px) {
    .page-header {
        margin: 30px 20px 0;
    }
} */

.external-link:after {
    content: "\e251";
    content: "\e024";
    font-family: IcoMoon;
    font-weight: 400 !important;
    margin-left: 5px;
    font-size: 1.1rem
}

/*Quicklinks & UAB Header*/
@media all and (min-width:1024px) {
    /* body.linear.hd div.searchpanel {
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translatex(-50%);
        max-width: 1280px;
    }

    #quicklinks {
        margin-top: 0 !important;
        max-width: 1280px;
        margin-right: 30px;
    } */

    body.linear.hd #quicklinks .nav.menu.nav-pills>li>.separator {
        color: #fff;
    }

    #quicklinks .separator:after {
        content: "\e011";
        font-family: 'IcoMoon';
        font-size: .8em;
    }
}

#quicklinks ul.nav li {
    float: right;
}

/*@media all and (min-width: 1024px) {
    body.linear.hd #quicklinks {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-top: 0.75em;
    }
}*/

body.linear.hd #siteName {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    float: none;
}

body.linear.hd .siteNameTop {
    color: #fff;
}

body.ribbonFullwidth #whitebar {
    height: auto;
    border-bottom-width: 0px !important;
}

/*Displays separator menu items in mobile*/
@media (max-width: 980px) {
    body.hd #tray.white #ribbon li span {
        display: inline-block;
        color: #1E6B52 !important;
    }
}






/*Adds green background before and after the site name and quicklinks */
#whitebar {
    position: relative;
}

#whitebar:before {
    content: '';
    background-color: #1E6B52;
    width: 4000px;
    height: 100%;
    display: block;
    position: absolute;
    left: -4000px;
    top: 0;
    bottom: 0
}

#whitebar:after {
    content: '';
    background-color: #1E6B52;
    width: 4000px;
    height: 100%;
    display: block;
    position: absolute;
    right: -4000px;
    top: 0;
    bottom: 0
}

/*Makes it so the background color applied above doesn't cause a horizontal scroll */

#wrapper {
    overflow: hidden;
}



/*Add max-width on site name and quicklinks and verticaly center */
#whitebar {
    max-width: 1280px !important;
    display: flex;
    align-items: center;
}

/*Quicklinks adjustments */

#quicklinks {
    display: flex;
    align-items: center;
    float: none;
}

#quicklinks input {
    border-radius: 0;
    margin-bottom: 0;
    border-right: 0;
}

#quicklinks .moduletable {
    height: auto;
}

body.linear.hd #quicklinks {
    margin-top: 0;
}

/*Adjustments to search */

.searchpanel .form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.searchpanel .btn-primary {
    border-radius: 0;
    text-shadow: none;
    background-image: none;
    border-left: 0;
}

/*Change out uab logo for an svg */
body.linear.hd div.topLinearLogo {
    background-image: url(https://dev.uab.edu/uabunited/extreme-horizontal-white.svg);
    height: 17px;
}

/*Remove quicklinks on mobile */
@media all and (max-width:1024px) {
    #quicklinks .nav {
        display: none;
    }
}

/*Remove search panel from displaying on hover */
body.linear.hd div.searchpanel {
    float: none;
    width: auto;
    display: block;
    background: none;
    box-shadow: none;
    margin-right: .5em;
    flex-basis: 50%;
}



/*--------#endregion Page Header--------*/


/*region UAB United Focus Box */

/*Focus Box Left Accent */

.uab-united-focus-box {
    position: relative;
    background-color: #eee;
    padding: 1.5em;
    box-sizing: border-box;
}

.uab-united-focus-box:before {
    background-image: url('https://dev.uab.edu/uabunited/images/banners/focus-box-accent.jpg');
    height: 100%;
    width: 10px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-size: contain;

}

/*Focus Box 2 - Accent on all sides */

.uab-united-focus-box-2 {
    position: relative;
    background-color: #eee;
    padding: 1.5em;
    box-sizing: border-box;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.uab-united-focus-box-2 p, 
.uab-united-focus-box-2 a,
.uab-united-focus-box-2 li {
    font-size: 1.4rem !important;
    text-align:center;
}


.uab-united-focus-box-2:before,
.uab-united-focus-box-2:after,
.uab-united-focus-box-2__top-bottom:before,
.uab-united-focus-box-2__top-bottom:after {
    content: '';
    display: block;
    position: absolute;
    background-size: contain;
}

.uab-united-focus-box-2:before,
.uab-united-focus-box-2:after {
    height: 100%;
    width: 10px;

    top: 0;
    bottom: 0;

}

.uab-united-focus-box-2__top-bottom:before,
.uab-united-focus-box-2__top-bottom:after {
    height: 10px;
    width: 100%;
    right: 0;
    left: 0;
    right: 0;
}

.uab-united-focus-box-2:before {
    background-image: url('https://dev.uab.edu/uabunited/images/banners/united-focus-box-2-left.png');
    left: 0;
}

.uab-united-focus-box-2:after {
    background-image: url('https://dev.uab.edu/uabunited/images/banners/united-focus-box-2-right.png');
    right: 0;
}

.uab-united-focus-box-2__top-bottom:before {
    background-image: url('https://dev.uab.edu/uabunited/images/banners/united-focus-box-2-top.png');
    top: 0;
}

.uab-united-focus-box-2__top-bottom:after {
    background-image: url('https://dev.uab.edu/uabunited/images/banners/united-focus-box-2-bottom.png');
    bottom: 0;
}

/*endregion UAB United Focus Box */

/*#region UAB United Heading Line */

/*Green*/

.o-united-heading-line--green {
    overflow: hidden;
    padding-left: 40px;
    margin-bottom: 5px;

}

.o-united-heading-line--green i {
    font-size: 1.1rem;
    cursor: pointer;
    color: #d3d3d3;
    position: relative;
}

.o-united-heading-line--green i:hover:after {
    content: 'Copy link to clipboard.';
    position: absolute;
    top: -5px;
    width: 200px;
    margin-left: 5px;
    background-color: #eee;
    color: #444;
    text-align: center;
    border-radius: 3px;
    transition: all 1s ease-in;
    font-size: .9rem;
    font-family: "proxima-nova", Arial, Helvetica, sans-serif !important;
    font-weight: 400;
    padding: 5px
}

.o-united-heading-line--green i:active {
    color: #80bc00;
}

.o-united-heading-line--green>span:first-child {
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
}

.o-united-heading-line--green>span::before,
.o-united-heading-line--green>span::after {
    content: "";
    position: absolute;
    top: calc(50% - ((0.2px + 0.05em) / 2));
    width: 2000px;
    border-bottom: calc(0.2px + 0.05em) solid #1E6B52;
}

.o-united-heading-line--green>span::before {
    right: 100%;
    margin-right: calc(5px + 0.3em);
}

.o-united-heading-line--green>span::after {
    left: 100%;
    margin-left: calc(5px + 1.3em);
}


/*#endregion UAB United Heading Line */




/*#region Utility Classes */
/*Heading Line */

/*Green*/

.u-heading-line--green {
    overflow: hidden;
    padding-left: 40px;
}

.u-heading-line--green>* {
    display: inline-block;
    position: relative;
}

.u-heading-line--green> ::before,
.u-heading-line--green> ::after {
    content: "";
    position: absolute;
    top: calc(50% - ((0.2px + 0.05em) / 2));
    width: 2000px;
    border-bottom: calc(0.2px + 0.05em) solid #1E6B52;
}

.u-heading-line--green> ::before {
    right: 100%;
    margin-right: calc(5px + 0.3em);
}

.u-heading-line--green> ::after {
    left: 100%;
    margin-left: calc(5px + 0.3em);
}


/*White*/

.u-heading-line--white {
    overflow: hidden;
    padding-left: 40px;
}

.u-heading-line--white>* {
    display: inline-block;
    position: relative;
}

.u-heading-line--white> ::before,
.u-heading-line--white> ::after {
    content: "";
    position: absolute;
    top: calc(50% - ((0.2px + 0.05em) / 2));
    width: 2000px;
    border-bottom: calc(0.2px + 0.05em) solid #fff;
}

.u-heading-line--white> ::before {
    right: 100%;
    margin-right: calc(5px + 0.3em);
}

.u-heading-line--white> ::after {
    left: 100%;
    margin-left: calc(5px + 0.3em);
}

/*Margin */

.u-united-margin-top--remove {
    margin-top: 0 !important;
}

.u-united-margin-top--xs {
    margin-top: .5em !important;
}

.u-united-margin-top--s {
    margin-top: 1em !important;
}

.u-united-margin-top--m {
    margin-top: 2em !important;
}

.u-united-margin-top--l {
    margin-top: 3em !important;
}

.u-united-margin-top--xl {
    margin-top: 4em !important;
}

.u-united-margin-bottom--remove {
    margin-bottom: 0 !important;
}

.u-united-margin-bottom--xs {
    margin-bottom: .5em !important;
}

.u-united-margin-bottom--s {
    margin-bottom: 1em !important;
}

.u-united-margin-bottom--m {
    margin-bottom: 2em !important;
}

.u-united-margin-bottom--l {
    margin-bottom: 3em !important;
}

.u-united-margin-bottom--xl {
    margin-bottom: 4em !important;
}

/*Display */


.u-united-inline {
    display: inline;
}

.u-united-inline-block {
    display: inline;
}

.u-united-block {
    display: block;
}

/*Font */

.u-united-font--xs {
    font-size: .8rem;
}

.u-united-font--s {
    font-size: 1rem;
}

.u-united-font--m {
    font-size: 1.2rem;
}

.u-united-font--l {
    font-size: 1.4rem;
}

.u-united-font--xl {
    font-size: 1.6rem;
}


/*#endregion Utility Classes */

/*#region Widgekit */

/*Grid with Icon */
.grid-with-icon .uk-panel {
    background-color: #eee;
}

.grid-with-icon h3 {
    text-align: center;
}

/*Grid with Gray Background */
.grid-with-gray-bg .uk-panel.uk-panel-box {
    background-color: #eee;
    padding-bottom: 39px;
}

/*#endregion Widgekit */

/*#region Accent Icons */

.o-united-accent-icon--green {
    top: -1.4em;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
    background-color: #1E6B52;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.o-united-accent-icon--green i {
    color: #fff;

}

.o-united-accent-icon--green img {
    max-width: 20px !important;
}

/*#endregion Accent Icons */

/*#region Color System */


.united-color-system {
    display: flex;
    align-content: center;
    padding: 20px;
    background-color: #fff;


}

.united-color-system__swatch {
    margin-right: 20px;
}

.united-color-system__color {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
}

.united-color-system__copy {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
}

.united-color-system__description {
    margin: 0;
}

.united-color-system__link {}



.united-color-system__level {
    font-size: 1.1rem;
    font-weight: 600;
}

.united-color-system__capacity {
    display: block;
    font-style: italic;
}


.o-united-entry--current-status {
    background-color: #eee;
    position: relative;
    padding: 0 10px 10px;

}

.o-united-entry--current-status>span {
    padding: 10px;
    display: block;
    font-weight: 600;
}


/*#endregion Color System */

/*#region Heading with sub */

.o-united-heading-w-sub {
    display: flex;
    align-items: center;

}

.o-united-heading-w-sub__subheading {
    font-size: .9rem;
    background-color: rgba(128, 188, 0, 0.08);
    padding: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 10px;
    box-sizing: border-box;
    margin-top: 3px;
    color: #1E6B52;
}

/*#endregion Heading with sub */


/*#region Preheading */
.o-united__preheading--blue,
.o-united__preheading--green {
    display: inline-block;
    background-color: rgba(128, 188, 0, 0.08);
    padding: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #1E6B52;
    letter-spacing: 1px;
}

.o-united__preheading--blue {
    color: #395BBD;
    background-color: rgb(57, 92, 189, .1);
}

.o-united__preheading--green {
    background-color: rgba(128, 188, 0, 0.08);
    color: #1E6B52;
}

/*#endregion Preheading */



/*--------#region Schedule for Entry--------*/


/* .entry-phase-table>div:last-child {
    width: 100%;
} */



.entry-phase-table .uk-panel {
    border: 1px solid #eee;
}

.entry-phase-table__container {
    display: flex;
    width: 100%;
    background-color: #fff;

}


.entry-phase-table__color {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    flex-basis: 3%;
    min-width: 20px;
    flex-grow: 1;
}

.entry-phase-table__color-name {
    transform: rotate(-90deg);
    display: block;
    font-weight: 600;

}

.entry-phase-table__description {
    padding: 20px;
    flex-basis: 90%;
    flex-grow: 1;
}

/*--------#endregion Schedule for Entry--------*/


/*#region Horizontal Menu */

/*--------BEGIN Horizontal Nav --------*/

body.linear.hd .siteNameTop.noSub {
    display: inline-flex;
}

@media all and (max-width:1280px) {
    body.linear.hd .siteNameTop {
        margin: 0 10px;
    }
}

body.hd.ribbonFullwidth #ribbon {
    width: 100%;
}

#ribbon ul.nav>li.alias-parent-active:hover {
    background-color: #fafafa !important;
}

.navbar .alias-parent-active {
    background-color: #fff !important;
}

body.hd #tray.white #ribbon .alias-parent-active>a {
    color: #444 !important;
}

body.hd #tray.white #ribbon .nav-pills>.active {
    background-color: #eee !important;

}

body.hd #tray.white #ribbon .nav-pills>.active>a {
    color: #444 !important;
}

.navbar-static-top .navbar-inner {
    border-bottom: none;

}

#ribbon {
    background-color: #eee;
}

.menu {
    font-size: 16px;
}

#ribbon ul.nav.menu li,
#ribbon .nav.menu li span {
    text-transform: initial;
    background-color: transparent;
    outline: none;
    width: 100%;
}


@media all and (min-width:980px) {
    #ribbon ul.nav.menu li {
        display: flex;
        align-items: center;
    }
}


#ribbon ul.nav.menu li:hover {
    background-color: #ddd;
}

#ribbon ul.nav.menu li.divider:hover {
    background-color: transparent;
}

#ribbon ul.nav.menu li a,
#ribbon ul.nav.menu li span {
    font-size: 1.1em;
}

@media all and (max-width:980px) {

    #ribbon ul.nav.menu li a,
    #ribbon ul.nav.menu li span {
        font-size: 1.3em;
    }


}

#ribbon .nav .dropdown>span:after {
    content: "\e011";
    font-family: 'IcoMoon';
    font-size: .8em;
}

#ribbon .moduletable {
    display: flex;
    justify-content: center;
}

body.hd #tray.white #ribbon .nav-pills>.active,
body.hd #tray.white #ribbon .nav-pills>.active:focus,
body.hd #tray.white #ribbon .nav-pills>.active:hover {
    background-color: #fff !important;
}

body.hd #tray.white #ribbon .nav-pills>.active>a,
body.hd #tray.white #ribbon .nav-pills>.active>a:focus,
body.hd #tray.white #ribbon .nav-pills>.active>a:hover {
    color: #444 !important;
    line-height: 100%;
}

#ribbon .nav {
    margin-top: 0;
    max-width: 1280px;
    width: 100% !important;
    z-index: 200;
    float: none;
    margin: 0;
}

@media all and (min-width:980px) {
    #ribbon .nav {
        display: flex;
        justify-content: space-between;
    }

}

body.linear.hd div#tray {
    min-height: auto;
    padding: 0;
}

#ribbon .nav-pills>.active>a,
#ribbon .nav-pills>.active>a:hover,
#ribbon .nav-pills>.active>a:focus {
    background-color: transparent;
}

@media all and (max-width:980px) {
    body.hd.white #ribbon .nav-pills .dropdown-menu {
        background-color: #eee;
    }

    body.hd #tray.white #ribbon .nav-pills>.active,
    body.hd #tray.white #ribbon .nav-pills>.active:focus,
    body.hd #tray.white #ribbon .nav-pills>.active:hover {
        background-color: #eee !important;
    }
}

.dropdown-menu {
    border: 1px solid #ddd !important;
}

.nav.menu .parent .current.active:before {
    border-left: 0px;
}

/*hover effect */
body.hd #ribbon .nav>li>a:hover,
body.hd #ribbon .nav>li>a:focus,
body.hd #ribbon .nav>li>span:hover,
body.hd #ribbon .nav>li>span:focus {
    background-color: transparent;
}


#ribbon ul.nav:first-child>li a,
#ribbon ul.nav:first-child>li span {
    padding: 15px 8px;
    font-weight: 600;
    flex: 1;
    text-align: center;
    line-height: 120%;
    width: 100%;
}


/*--------END Horizontal Nav--------*/

/*-------- BEGIN Mobile Horizontal Menu--------*/

@media all and (max-width: 978px) {

    /*Closed Horizontal Trigger Styling */
    body.linear.hd #tray #ribbon a.btn-navbar {
        background: #1e6b52;
        transition: all 0.2s ease-in;
        padding: 10px;
    }

    body.linear.hd #tray #ribbon .btn-navbar span {
        background-color: #fff !important;
    }

    body.linear.hd #tray #ribbon .btn-navbar:hover span {
        background-color: #1e6b52 !important;
    }


    .navbar .btn-navbar .icon-bar {
        width: 23px;
        height: 3px;
    }

    body.hd.ribbonFullwidth #ribbon {
        padding: 5px 10px;
    }
}

/*--------END Mobile Horizontal Menu */


/*#region Horizontal Menu */